#main{
  background:url("https://studybees.de/magazin/wp-content/uploads/2016/04/notebook-1280538_1920.jpg")no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  padding-bottom:25em;
}
.header{
  padding-left: 24em;
  padding-top: 3em;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  padding-right: 1.5em;
}
a:hover{
  color:rgba(232, 67, 147,1.0);
}
input[type="submit"]{
  width: 15em;
  height: 3em;
  font-size: 16px;
  color: #ffffff;
  background-color:rgba(214, 48, 49,1.0);
    margin-left: 1.5em;
}
input[type="submit"]:hover{
  cursor:pointer;

}
.info{
  padding-top: 3em;
  padding-left: 4.5em;
  color:rgba(256,256,256,1.0);
  font-size: 4em;
}
input[type='text']{
  width:25em;
  height:2.5em;
  margin-right: 1em;
}
.sign-up{
  padding-top:7em;
  padding-left: 17em;
}
#course p{
  padding-top: 1.5em;
  padding-left: 11em;
  font-size:3em;
  color:rgba(99, 110, 114,1.0);
}

#development{
  background:url("http://www.olivesolutions.com/olive_admin/files/blog_banner/resize/men%20working%20on%20laptop.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 12.5em;
}
.box{
  box-sizing: border-box;
  width:30%;
  border: 1px solid white;
  margin-right: 2.5em;
  margin-bottom: 2.5em;
}
.category{
  padding-left: 5em;
  display: flex;
  flex-wrap: wrap;
}
.content{
  background-color:rgba(206, 214, 224,0.5);
  padding-bottom: 4em;
  padding-left: 1em;
  padding-top: 2.5em;
}
.content p{
  color:rgba(47, 53, 66,1.0);
  font-size: 2em;
  font-weight: bold;
}
span{
  color:rgba(255, 71, 87,1.0);
  font-size: 1.5em;
}
.content:hover{
  cursor: pointer;
  background-color:rgba(255, 71, 87,1.0);
}
.content:hover span{
  color:white;
}
.content:hover p{
  color:white;
}
#photography{
  background:url("https://i.pinimg.com/originals/d9/a7/54/d9a754b5df715ac2a5d010f7d831f284.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#music{
  background:url("http://www.lokalpatriot.si/wp-content/uploads/2018/07/music-1.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#web{
  background:url("https://www.bgosoftware.com/blog/wp-content/uploads/2016/02/insidepost_Laptop_woman.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#cyber{
  background:url("https://cdn-images-1.medium.com/max/1200/1*hrhLzTFY21qVNQYhjX0h1Q.jpeg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#ai{
  background:url("https://www.simplilearn.com/ice9/free_resources_article_thumb/Real-life-Applications-of-Data-Science-Deep-Learning-and-Artificial-Intelligence-1.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#search p{
  padding-top: 1em;
  padding-left: 8.5em;
  font-size: 3em;
  color: #ffffff;
}
#search{
  background-color:rgba(235, 59, 90,1.0);
  margin-right: 9em;
  margin-left: 9em;
  padding-bottom: 3em;
}
#search-box{
  margin-left: 3em;
  margin-right: 3em;
  background-color: #ffffff;
  padding: 2em;
  padding-left: 4em;
}
hr{
  width:20em;
  height:0.3em;
  background-color:rgba(235, 59, 90,1.0);
  margin-bottom: 2em;
}
#sign-up-teacher{
  margin-top: 3em;
  background-color: rgba(235, 59, 90,1.0);
  color:#ffffff;
  font-size: 1.5em;
  width:98%;
  padding-bottom: 1em;
  padding-left: 1em;
}
#sign-up-teacher h1{
    padding-left: 1.5em;
    padding-top: 2em;
}
#sign-up-form{
  margin: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #ffffff;
  color:#ffffff;
  padding: 1em;
  width:34%;
}
#sign-up-form input[type="text"],input[type="submit"]{
  margin-bottom: 3em;
  }
#sign-up-image{
  margin-left: 50%;
  margin-top: -35em;
  background: url("https://www.stonebridge.uk.com/blog/wp-content/uploads/2016/05/Web-design-and-development.jpg")no-repeat;
  -webkit-background-size:auto;
  background-size: auto;
  padding-left: 50%;
  padding-bottom: 100%;
}
#community{
  padding-left: 11em;
  font-size:3em;
  color:rgba(99, 110, 114,1.0);
  margin-top: -57%;
}
#community input[type="submit"]{
  margin-left: 13%;
}
#hr{
  width:94em;
  height:0.3em;
  background-color:rgba(235, 59, 90,1.0);
  margin-top: 5em;
}
#footer{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em;
}
#footer h1{
  padding-bottom: 2em;
}
