#main{
  background:url("https://studybees.de/magazin/wp-content/uploads/2016/04/notebook-1280538_1920.jpg")no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  padding-bottom:25em;
}
.header{
  padding-left: 24em;
  padding-top: 3em;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  padding-right: 1.5em;
}
a:hover{
  color:rgba(232, 67, 147,1.0);
}
input[type="submit"]{
  width: 15em;
  height: 3em;
  font-size: 16px;
  color: #ffffff;
  background-color:rgba(214, 48, 49,1.0);
}
input[type="submit"]:hover{
  cursor:pointer;
}
.info{
  padding-top: 3em;
  padding-left: 4.5em;
  color:rgba(256,256,256,1.0);
  font-size: 4em;
}
input[type='text']{
  width:25em;
  height:2.5em;

}
.sign-up{
  padding-top:7em;
  padding-left: 17em;
}
#course p{
  padding-top: 1.5em;
  padding-left: 11.5em;
  font-size:3em;
  color:rgba(99, 110, 114,1.0);
}

#development{
  background:url("http://www.olivesolutions.com/olive_admin/files/blog_banner/resize/men%20working%20on%20laptop.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 12.5em;
}
.box{
  box-sizing: border-box;
  width:30%;
  border: 1px solid white;
  margin-right: 2.5em;
  margin-bottom: 2.5em;
}
.category{
  padding-left: 5em;
  display: flex;
  flex-wrap: wrap;
}
.content{
  background-color:rgba(206, 214, 224,0.5);
  padding-bottom: 4em;
  padding-left: 1em;
  padding-top: 2.5em;
}
.content p{
  color:rgba(47, 53, 66,1.0);
  font-size: 2em;
  font-weight: bold;
}
span{
  color:rgba(255, 71, 87,1.0);
  font-size: 1.5em;
}
.content:hover{
  cursor: pointer;
  background-color:rgba(255, 71, 87,1.0);
}
.content:hover span{
  color:white;
}
.content:hover p{
  color:white;
}
#photography{
  background:url("https://i.pinimg.com/originals/d9/a7/54/d9a754b5df715ac2a5d010f7d831f284.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
#music{
  background:url("https://cdns.klimg.com/vemale.com/headline/650x325/2018/04/karena-dia-percaya-bahwa-tuhan-bukan-pemberi-harapan-palsu.jpg")no-repeat;
  -webkit-background-size:contain;
  -moz-background-size:contain;
  -o-background-size:contain;
  padding-top: 11.5em;
}
