body{
  background:url("https://studybees.de/magazin/wp-content/uploads/2016/04/notebook-1280538_1920.jpg")no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
}
.header{
  padding-left: 24em;
  padding-top: 3em;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  padding-right: 1.5em;
}
a:hover{
  color:rgba(232, 67, 147,1.0);
}
input[type="submit"]{
  width: 15em;
  height: 3em;
  font-size: 16px;
  color: #ffffff;
  background-color:rgba(214, 48, 49,1.0);
}
input[type="submit"]:hover{
  cursor:pointer;
}
.info{
  padding-top: 3em;
  padding-left: 4.5em;
  color:rgba(256,256,256,1.0);;
  font-size: 4em;
}
input[type='text']{
  width:25em;
  height:2.5em;

}
.sign-up{
  padding-top:7em;
  padding-left: 17em;
}
